.summaryDiv .card {
  width: 100%;
  height: 90%;
  border-radius: 0px !important;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.49) !important;
}
.constraintsDiv {
  border: 1px solid black;
  width: 90%;
}
.routeplanDiv small {
  font-size: 63%;
}
.routeplanDiv input {
  font-size: 80%;
}

.color-navbar .up-select {
  font-size: 56%;
  font-weight: bold;
}
.buttonShadow {
  font-size: 56%;
  font-weight: bold;
  box-shadow: 1px ​1px 5px 1px rgba(0, 0, 0, 0.49) !important
}
.cardBody {
  padding: 1.2rem !important;
}
.buttonShadow:hover {
  background-color: #c3a2d1;
  color: white;
}

.buttonStyle {
  font-size: 56%;
  font-weight: bold;
}

/* .routeplanDiv i {
  font-size: 80%;
  font-weight: bold;
  box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important;
} */

.inputShadow {
  /* box-shadow: 3px 15px 14px -11px rgba(0, 0, 0, 0.49) !important; */
  font-size: 60%;
  font-weight: bold;
  box-shadow: none;
}
.datePickerinputShadow {
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
  /* max-height: 100%; */
}
.datePickerdiv {
  font-size: 68%;
  font-weight: bold;
  box-shadow: none;
  /* max-height: 40%; */
}
.routePlanNav {
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 1px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 1px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 1px #ccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
}

.allRouteTab {
  background-color: #ccc2a7;
  color: #613939;
  cursor: pointer;
  margin-bottom: -1px !important;
}

.allRouteTab .navLink.active {
  background-color: #433b33 !important;
  border-radius: 0px !important;
  color: #fff;
}
.allRouteTab a:hover {
  background-color: #433b33 !important;
  border-radius: 0px !important;
  color: #fff !important;
}
.routePlanTabs {
  background-color: #c3a2d1;
  /* -webkit-box-shadow: 6px 3px 5px 6px #ccc; */
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* -moz-box-shadow: 6px 3px 5px 6px #ccc; */
  /* Firefox 3.5 - 3.6 */
  /* box-shadow: 25px 3px 5px 6px #ccc; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
  font-size: 14px;
  cursor: pointer;
  max-width: 85.6%;
  color: white;
}

.routePlanTabs .navLink {
  border: 1px solid transparent;
  /* border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; */
  display: block;
  padding: 0.5rem 1rem;
  border-right: 1px solid #433b33 !important;
}
.routePlanTabs .navItem {
  margin-bottom: -1px;
  border-color: white;
  width: 100%;
  text-align: center;
}

.routePlanTabs .navLink.active {
  background-color: #2b2742 !important;
  border: 1px solid #2b2742;
  /* border-radius: 0px !important; */
  color: #fff;
}

.routePlanTabs a:hover {
  background-color: #2b2742 !important;
  border-radius: 0px !important;
  color: #fff !important;
}

.routePlanTabs a:active {
  background-color: #2b2742 !important;
  border-radius: 0px !important;
  color: #fff !important;
}

/* for dynamic tabs */
.dynamicroutePlanTabs {
  background-color: #bf616a;
  border-bottom: 1px solid #bf616a;
  font-size: 12px;
  cursor: pointer;
  /* max-width: 100%; */
  color: #613939;
}

.dynamicroutePlanTabs .navLink {
  border: 1px solid transparent;
  /* border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; */
  display: block;
  padding: 0.5rem 1rem;
  border-right: 1px solid #4ecdc4  !important;
}
.dynamicroutePlanTabs .navItem {
  margin-bottom: -1px;
  background: #0C5640;
  border-color: white;
  width: 25%;
  text-align: center;
  color: white;
}

.dynamicroutePlanTabs .navLink.active {
  background-color: #4ecdc4  !important;
  border-radius: 0px !important;
  color: #000;
}
.dynamicroutePlanTabs .navLink.active:hover {
  border: 1px solid #4ecdc4  !important;
  color: rgb(0, 0, 0);
}

.dynamicroutePlanTabs a:hover {
  /* background-color: #433b33 !important; */
  border: 1px solid #4ecdc4  !important;
  /* color: #fff !important; */
}

/* End Vertical Tabs */
/* // :vertical tabs //*/
.routePlanVerTabs {
  background-color: #ccc2a7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.49);
  font-size: 14px;
  /* max-width: inherit; */
  color: #613939;
  cursor: pointer;
}
.routePlanVerTabs .navLink {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #433b33 !important;
}
.routePlanVerTabs .navLink.active {
  background-color: #433b33 !important;
  border-radius: 0px !important;
  color: #000;
}

.routePlanVerTabs a:hover {
  background-color: #433b33 !important;
  border-radius: 0px !important;
  color: #fff !important;
}
/* end :vertical */
.routePlanNav .navLink {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 12px;
}
.routePlanNav .navLink.active {
  /* background-color:darkred ; */

  box-shadow: 0 3px 0 darkred;
}
.routeplanDiv .setShadow1 {
  background-color: white;
  box-shadow: -7px 9px 11px -7px #ccc;
  -webkit-box-shadow: -7px 9px 11px -7px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: -7px 9px 11px -7px #ccc; /* Firefox 3.5 - 3.6 */
}
.routeplanDiv .formCheck label {
  font-size: 80%;
}

.routeplanDiv .map-top {
  border-top: 1px solid white;
}
.routePlanNav select {
  font-size: 60%;
  font-weight: bold;
  box-shadow: none;
}
.routePlanNav .dropdownMenu {
  font-size: 60%;
  font-weight: bold;
  box-shadow: none;
  height: 300px !important;
  overflow-x: auto !important;
}
.staticTopMenu select {
  font-size: 60%;
  font-weight: bold;
  box-shadow: none;
}

/* .routeplanDiv input[readonly] {
  background-color: white !important;
} */

.routeplanDiv input:focus {
  outline: none;
}

.breadcrumbItem + .breadcrumbItem::before {
  content: "> ";
  font-size: bold;

  /* justify-content: center; */
}
.breadCrumb {
  font-size: 14px;
  padding: 0px;
  background-color: inherit !important;
}
.toastContainer {
  min-height: 37px !important;
}
.toastContainerSuccess {
  min-height: 37px !important;
  background-color: #1a6734;
}
.loadmain {
  /* background-color: red; */
  filter: alpha(opacity=70);
  opacity: 0.7;
  z-index: 10;
}
.loadmain:before {
  position: absolute;
  opacity: 0.7;
  content: "";
  width: 100%;
  background: grey;
  height: 100%;
  left: 0;
  z-index: 10;
}

.dataTableContainer {
  max-height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dataTableContainer {
  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: #433b33 #f5f5f5;
}
.dataTableContainer::-webkit-scrollbar {
  -moz-appearance: none !important;
  width: 8px;
  /* color: brown; */
  background-color: #f5f5f5;
}
.dataTableContainer::-webkit-scrollbar-thumb {
  -moz-appearance: none !important;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #433b33;
}

.dataTableContainer::-webkit-scrollbar-track {
  -moz-appearance: none !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #433b33;
}
.bg-purple a:hover {
  color: white !important;
}
.btnStyle {
  /* height: 35px !important; */
  border-radius: 0px !important;
  border: none !important;
}
/* .routeplanDiv  */
